<script id="tmpl-modalheader" type="text/html">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        {{#if showClose}}
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="{{closeText}}"></button>
        {{/if}}
    </div>
</script>

<script id="tmpl-modalbody" type="text/html">
    <div class="modal-body">
        {{{content}}}
    </div>
</script>

<script id="tmpl-modalfooter" type="text/html">
    <div class="modal-footer">
        {{#if showEdit}}
        <button type="button" class="btn btn-primary btn-edit" data-credentialid="{{credentialId}}"><span class="bi bi-pencil-square"></span> {{editText}}</button>
        {{/if}}
        {{#if showDelete}}
        <button type="button" class="btn btn-danger btn-delete" data-credentialid="{{credentialId}}"><span class="bi bi-trash"></span> {{deleteText}}</button>
        {{/if}}
        {{#if showAccept}}
        <button type="submit" class="btn btn-primary btn-accept"><span class="bi bi-check-lg"></span> {{acceptText}}</button>
        {{/if}}
        {{#if showClose}}
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><span class="bi bi-x-lg"></span> {{closeText}}</button>
        {{/if}}
    </div>
</script>

<script id="tmpl-urllink" type="text/html">
    <a class="display-link" href="{{Url}}" onclick="window.open(this.href); return false;">{{{UrlText}}}</a>
</script>

<script id="tmpl-urltext" type="text/html">
    <span class="d-none d-lg-inline">{{truncate Url 50}}</span>
    <span class="d-lg-none">{{truncate Url 26}}</span>
</script>

<script id="tmpl-copylink" type="text/html">
    <a class="copy-link" data-clipboard-text="{{Content}}"><span class="bi bi-clipboard"></span></a>
</script>

<script id="tmpl-detail" type="text/html">
    {{#if Url}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">Url</div>
        <div class="col-9 col-md-@(DataColumnWidthMD)"><span class="d-none d-md-inline me-3">{{> copylink Content=Url }} </span>{{{UrlHtml}}}</div>
        <div class="col-3 text-end d-md-none">{{> copylink Content=Url }}</div>
    </div>
    {{/if}}
    {{#if Username}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">Username</div>
        <div class="col-9 col-md-@(DataColumnWidthMD)"><span class="d-none d-md-inline me-3">{{> copylink Content=Username }} </span>{{Username}}</div>
        <div class="col-3 text-end d-md-none">{{> copylink Content=Username }}</div>
    </div>
    {{/if}}
    {{#if Password}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">Password</div>
        <div class="col-9 col-md-@(DataColumnWidthMD)"><span class="d-none d-md-inline me-3">{{> copylink Content=Password }} </span><span class="user-select-all">{{Password}}</span> <a href="#" class="bi bi-info-circle toggle-password-info"></a></div>
        <div class="col-3 text-end d-md-none">{{> copylink Content=Password }}</div>
    </div>
    <div class="row row-detail row-detail-password-info d-none">
        <div class="col-md-@(DataCopyLinkSpanColumnWidthMD) offset-md-@(LabelColumnWidthMD)">{{{PasswordCharacterTable}}}</div>
    </div>
    {{/if}}
    {{#if UserDefined1}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">{{UserDefined1Label}}</div>
        <div class="col-9 col-md-@(DataColumnWidthMD)"><span class="d-none d-md-inline me-3">{{> copylink Content=UserDefined1 }} </span>{{UserDefined1}}</div>
        <div class="col-3 text-end d-md-none">{{> copylink Content=UserDefined1 }}</div>
    </div>
    {{/if}}
    {{#if UserDefined2}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">{{UserDefined2Label}}</div>
        <div class="col-9 col-md-@(DataColumnWidthMD)"><span class="d-none d-md-inline me-3">{{> copylink Content=UserDefined2 }} </span>{{UserDefined2}}</div>
        <div class="col-3 text-end d-md-none">{{> copylink Content=UserDefined2 }}</div>
    </div>
    {{/if}}
    {{#if Notes}}
    <div class="row row-detail mb-@(RowMargin) mb-md-@(RowMarginMD)">
        <div class="col-md-@(LabelColumnWidthMD) @(LabelVisualEffectClasses)">Notes</div>
        <div class="col-md-@(DataColumnWidthMD)">{{breaklines Notes}}</div>
    </div>
    {{/if}}
</script>

<script id="tmpl-credentialform" type="text/html">
    <partial name="_CredentialForm" model="new Credential()" />
</script>

<script id="tmpl-deleteconfirmationdialog" type="text/html">
    <p>Are you sure you want to delete this credential?</p>
</script>

<script id="tmpl-optionsdialog" type="text/html">
    <form id="change-password-form" class="needs-validation" novalidate>
        <div class="row mb-md-@(RowMarginMD)">
            <label for="NewPassword" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">New Password</label>
            <div class="col-md-@(FieldColumnWidthMD)">
                <input type="password" id="NewPassword" name="NewPassword" class="form-control" value="" required />
                <div class="invalid-feedback">Please enter a password</div>
            </div>
        </div>
        <div class="row mb-md-@(RowMarginMD)">
            <label for="NewPasswordConfirm" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Confirm Password</label>
            <div class="col-md-@(FieldColumnWidthMD)">
                <input type="password" id="NewPasswordConfirm" name="NewPasswordConfirm" class="form-control" value="" required />
                <div class="invalid-feedback" data-required="Please confirm the password" data-mismatch="Confirmation doesn't match password">Please confirm the password</div>
            </div>
        </div>
        <div class="row mb-md-@(RowMarginMD)">
            <div class="offset-md-@(LabelColumnWidthMD) col-md-@(FieldColumnWidthMD)">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
    <hr />
    <div class="row mb-md-@(RowMarginMD)">
        <label for="import-data" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Import Data</label>
        <div class="col-md-@(FieldColumnWidthMD)">
            <textarea class="form-control" id="import-data" placeholder="Paste exported JSON data here"></textarea>
        </div>
    </div>
    <div class="row mb-md-@(RowMarginMD)">
        <div class="offset-md-@(LabelColumnWidthMD) col-md-@(FieldColumnWidthMD)">
            <button class="btn btn-primary" id="import-button">Import Data</button>
        </div>
    </div>
    <hr />
    <div class="row mb-md-@(RowMarginMD)">
        <label for="export-button" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Export Data</label>
        <div class="col-md-@(FieldColumnWidthMD)">
            <button class="btn btn-primary" id="export-button">Export Data</button>
        </div>
    </div>
</script>

<script id="tmpl-exporteddatawindow" type="text/html">
    <html>
    <head>
        <title>Exported Data</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <textarea style="border: none; width: 100%; height: 600px;">{{json}}</textarea>
    </body>
</html>
</script>

<script id="tmpl-credentialtable" type="text/html">
    {{#each rows}}
    {{> credentialtablerow}}
    {{/each}}
</script>

<script id="tmpl-credentialtablerow" type="text/html">
    <div id="{{credentialid}}" class="credential mb-2 mb-md-1">
        <div class="btn btn-credential-show-detail mb-1 mb-md-0" data-id="{{credentialid}}">
            <div class="d-none d-md-block">{{description}}</div><div class="d-md-none">{{truncate description 31}}</div>
            {{#if weak}}
            {{#if username}}
            <span class="btn-credential-username me-2">{{username}}</span>
            {{/if}}
            <span class="badge rounded-pill bg-warning text-dark">Weak Password</span>
            {{else}}
            <span class="btn-credential-username">{{username}}&nbsp;</span>
            {{/if}}
        </div>
        {{#if url}}
        <a class="btn btn-primary btn-credential-open ms-1" href="{{url}}" target="_blank">
            <span class="bi bi-box-arrow-up-right me-1"></span> Web
        </a>
        {{else}}
        <a class="btn btn-primary btn-credential-open disabled ms-1">
            <span class="bi bi-box-arrow-up-right me-1"></span> Web
        </a>
        {{/if}}
        <a class="btn btn-primary btn-credential-copy btn-credential-copy-username ms-1" data-clipboard-text="{{username}}">
            <span class="bi bi-clipboard me-1"></span> User
        </a>
        <a class="btn btn-primary btn-credential-copy btn-credential-copy-password ms-1" data-clipboard-text="{{password}}">
            <span class="bi bi-clipboard me-1"></span> Pwd
        </a>
    </div>
</script>
