@model Vault.Models.Credential

@using (Html.BeginForm("Update", "Main", FormMethod.Post, new { id = "credential-form", @class = "form-horizontal", autocomplete = "off" })) {
    
    <p>Enter the details below:</p>

    <!-- These fake fields are a workaround for Chrome not respecting the autocomplete attribute and autofilling fields with the wrong values... -->
    <input class="chrome-autocomplete-fake" type="text" name="chromeusername" />
    <input class="chrome-autocomplete-fake" type="password" name="chromepassword" />

    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", autocomplete = "vault-desc" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", autocomplete = "vault-un" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", autocomplete = "vault-pw" })
            <div class="password-strength"><span></span><div></div></div>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default generate-password" tabindex="-1">Generate</button>
            <a href="#" class="generate-password-options-toggle" tabindex="-1">Options</a>
        </div>
    </div>
    <div class="form-group generate-password-options">
        <label class="col-sm-8 control-label">Password Chars</label>
        <div class="col-sm-16">
            <div class="form-group row">
                <div class="col-sm-6">
                    <input class="form-control generate-password-option" id="len" name="len" value="16"/>
                    @Html.HiddenFor(x => x.PwdOptions)
                </div>
                <div class="col-sm-18 checkbox">
                    <label><input type="checkbox" class="generate-password-option" id="ucase" name="ucase" value="1" checked="checked" /> A-Z</label> &nbsp;
                    <label><input type="checkbox" class="generate-password-option" id="lcase" name="lcase" value="1" checked="checked" /> a-z</label> &nbsp;
                    <label><input type="checkbox" class="generate-password-option" id="nums" name="nums" value="1" checked="checked" /> 0-9</label> &nbsp;
                    <label><input type="checkbox" class="generate-password-option" id="symb" name="symb" value="1" checked="checked" /> Symbols</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Url, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.Url, new { @class = "form-control", autocomplete = "vault-url" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.UserDefined1Label, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.UserDefined1Label, new { @class = "form-control", autocomplete = "vault-ul1" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.UserDefined1, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.UserDefined1, new { @class = "form-control", autocomplete = "vault-ud1" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.UserDefined2Label, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.UserDefined2Label, new { @class = "form-control", autocomplete = "vault-ul2" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.UserDefined2, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextBoxFor(x => x.UserDefined2, new { @class = "form-control", autocomplete = "vault-ud2" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Notes, new { @class = "col-sm-8 control-label" })
        <div class="col-sm-16">
            @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", rows = "6" })
        </div>
    </div>

    @Html.HiddenFor(x => x.CredentialID)
    @Html.HiddenFor(x => x.UserID)
                
}
