<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Vault Password Manager" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/Content/Img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/Img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/Content/Img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Content/Img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/Img/manifest.json">
    <link rel="shortcut icon" href="~/Content/Img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Vault">
    <meta name="application-name" content="Vault">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="~/Content/Img/mstile-144x144.png">
    <meta name="msapplication-config" content="~/Content/Img/browserconfig.xml">
    <meta name="theme-color" content="#7663de">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/Css/main")
    @RenderSection("head", false)
</head>
<body>
    <div class="container">
        @RenderSection("main")
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Content/Js/dist/vault.js"></script>
    @RenderSection("foot", false)
</body>
</html>
