<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
        <link rel="shortcut icon" href="/content/img/favicon.ico" />
        @Styles.Render("~/Content/Css/bundle")
        @RenderSection("head", false)
    </head>
    <body>
        <div class="container">
            @RenderSection("main")
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        @Scripts.Render("~/Content/Js/bundle")
        @RenderSection("foot", false)
    </body>
</html>
