@model GenerateVaultCredentialViewModel

@{
    ViewBag.Title = "Generate Credentials";
    ViewBag.BodyClass = "modal-open";
}

@section main {

    <div id="generate-form-dialog" class="modal show" style="display: block;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form id="generate-form" action="" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Generate Credentials</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label for="UserID" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">User ID</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="UserID" name="UserID" value="@Model.UserID" class="form-control" />
                            </div>
                        </div>
                        <p>Enter a username and password to hash:</p>
                        <div class="row mb-3">
                            <label for="Username" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Username</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="Username" name="Username" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Password" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Password</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="Password" name="Password" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="HashedUsername" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Hashed Username</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="HashedUsername" name="HashedUsername" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="HashedPassword" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Hashed Password</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="HashedPassword" name="HashedPassword" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section foot {

    @if (Model.DevMode)
    {
        <script src="~/js/dist/generatevaultcredential.min.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/dist/generatevaultcredential.min.js" asp-append-version="true" integrity="sha512-PjuPHHCqHnUlW9HPT7aHjK4lZwl06+KGCBub3hEBXmGFPLPImJ1gw7mkM181iaEzMqvWZ9ZswZ0YuW1NaB1LHg=="></script>
    }

    <div class="modal-backdrop show"></div>

}
